.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
   
    padding-bottom: 30px;
}
.header{
    right: -45px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 50px;
   
    

}
.text{
    color: rgb(255, 52, 52);
    font-size: 20px;
    font-weight: 750;
        left: 43px;
    position: relative;
}
.form{
    position: relative;
    border-radius: 20px;
    margin-top: 20px;
    padding-top: 20px;
    align-items: center;
    border: solid 3px;
    size-adjust: 50px;
    width: 350px;
    height: 500px;
    background: white;
    left: 1000px;
    top: -263px;
}
.input{
    size: 10px;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    
}
.img{
    
    position: relative;
    height:40px;
    padding-right: 20px;
}
.input{
    display: flex;
    padding-left: 20px;
    width: 300px;
    padding-top: 30px;
}
.meg_text{
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(174, 217, 255);
    font-style: italic;
    font-size: 30px;
    right: -50px;
    position: relative;
    top: 110px;
}
.btn1{
    background-color: rgb(70, 70, 255);
    position: relative;
    right: -82px;
    width: 100px;
    height: 40px;
    top: 26px;
    border-radius: 10px;
    justify-content: center;
    cursor: pointer;
}
.btn2{
    background-color: rgb(70, 70, 255);
    position: relative;
    right: -113px;
    top: 26px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    justify-content: center;
    cursor: pointer;
    
}
.alt{
    position: relative;
    left: 73px;
    bottom: -33px;

}
.bg_img{
    margin-top: -200px;
    min-height: 100%;
    min-width: 100%;
    /* background-image: url('../Images/bg2.jpg'); */
    position: fixed;
    background-size: cover;
    background-position: center;
    height: 1000px;
  
  }